[2019-04-03 04:15] r-b-g-b opened #1 "Download the data"
- [x] Link to data
- [x] Code to load data

[2019-04-03 04:22] r-b-g-b opened #2 "Turn design specifications into issues"
Let's go through the design specifications into a bunch of GitHub issues!

[2019-04-03 04:28] ruckeralex opened #3 "Identify lat-long files for georeferencing"
Rucker will identify the files

[2019-04-04 03:20] r-b-g-b commented on #1
A first step is to download the data files for the HR2W data:
- https://www.waterboards.ca.gov/water_issues/programs/hr2w/docs/data/hr2w_web_data_active_2-2019.xlsx
- https://www.waterboards.ca.gov/water_issues/programs/hr2w/docs/data/hr2w_web_data_rtc_2-2019.xlsx

and process them into a more readable csv format.

[2019-04-04 04:06] r-b-g-b commented on #1
Closed by #4

[2019-04-04 04:06] #1 closed, assigned to nobody

[2019-04-04 04:10] r-b-g-b opened #5 "Contributing guidelines"
We should describe the GitHub contribution process in the `README.md`.

[2019-04-04 04:11] #5 closed, assigned to nobody

[2019-04-04 05:53] ruckeralex commented on #3
Attached is a file listing public water system IDs (PWS_ID) and associated latitude and longitude for systems that are within the "Tulare Lake Basin" geographic area.  Still looking for main source file that contains ALL of the water systems.

[TulareBasin_Output.txt](https://github.com/r-b-g-b/clean-water-tool/files/3041936/TulareBasin_Output.txt)

[2019-04-04 06:09] ruckeralex opened #7 "Specify logic for de-duplicating the data"
One of the first discrete actions we need to perform for each reporting period is removing duplicates within the data set.  Initially, let's focus on the current status only, and not the historic pattern of violations and compliance.  In summary, each dataset contains records of multiple violations; each violation is a record of exceeding the maximum contaminant level for a specific analyte for a

[2019-04-08 01:45] r-b-g-b commented on #7
Thanks @ruckeralex! I took a stab at this issue just now. You can see the work in https://github.com/r-b-g-b/clean-water-tool/blob/rg/deduplicate-%237/notebooks/002-deduplicate-by-water-system-and-analyte.ipynb

Just to make sure I understood correctly, here's what I did:
1. Load the hr2w exceedance table
2. For each combination of water system/analyte, take the most recent `ENF_ACTION_ISSUE_DATE`

[2019-04-09 22:38] ruckeralex commented on #3
Attached is the GIS shapefile ("EC_Summary_Apr2-19.zip").  @aaronhans, does it contain what you need for lat-long coordinates?  Maybe Jess can take a look too since she knows GIS and presumably has the software.

[EC_Summary_Apr2019.zip](https://github.com/r-b-g-b/clean-water-tool/files/3061234/EC_Summary_Apr2019.zip)

[2019-04-09 23:03] ruckeralex opened #10 "Create template for automating completion of Legislative Fact Sheets"
This is an opportunity to create interface for a specific reporting template.

The Community Water Center regularly manually compiles and publishes legislative fact sheets to advise and directly work with elected officials on the status of safe drinking water in their communities.  This has been a very effective way to garner technical assistance and funding to the often under-served communities.

[2019-04-09 23:41] ruckeralex commented on #7
Awesome, thanks for jumping in, @r-b-g-b (and @skyballin )!   For the Feb 2019 "active" data set, there should be 330 systems out of compliance.  I talked through the data logic with the SWRCB and they recommended that the VIOL_END_DATE is the key variable.  So can you try to follow this process to report on the existing out of compliance systems:

1. Load the current hr2w exceedance table -- file

[2019-04-10 02:15] skyballin commented on #7
From the HRTW Data Analysis Tool Scope document:

"remove violation record duplications"

This is very broad...should we reduce the dataset down to just 330 datapoints (one for each system)? Or should we be keeping historical information on the water system?

It sounds like from the words used here, the dedupe method you are using will reduce the dataset to 1 violation record per water system and

[2019-04-10 05:32] r-b-g-b commented on #7
@ruckeralex Ajay and I had a chance to check in this evening. One point we want to clear up: are you saying the result of deduplication should result in 330 water systems? We noticed that there are a total of 330 unique water systems in the table. Does this mean that after our deduplication process, we expect all of the water systems to have at least one analyte that is out of compliance?

Or were

[2019-04-10 05:41] r-b-g-b opened #11 "How to handle ENF_ACTION_TYPE_ISSUED"
There are several types of  `ENF_ACTION_TYPE_ISSUED`. How should we handle those as they relate to #7 (deduplication).

| enforcement action name | number of records
| ----- | -----
| FORMAL ENFORCEMENT ACTION ISSUED | 5009
| STATE INTENTIONAL NO ACTION TAKEN | 356
| OTHER INFORMAL ENFORCEMENT ACTION TAKEN | 311
| INFORMAL ENFORCEMENT ACTION ISSUED | 204
| CA STATE ACTION ISSUED | 169
| FORMAL ENF

[2019-04-10 05:42] r-b-g-b commented on #7
I also wanted to get a bit more clarification on the `ENF_ACTION_TYPE_ISSUED` question, but I don't want to clutter this issue too much, so I'm opening #11 . Thanks!

[2019-04-10 05:44] r-b-g-b commented on #3
That's awesome! Can you provide a link for where you got that zip file so we can add to the repo for the sake of reproducibility? @ruckeralex

[2019-04-10 17:42] ruckeralex commented on #3
Do we need the updated data each month?  I was hoping we can just use it this once to extract the georeference info for each of the public water systems, and then apply those coordinates to future months' data sets.  The georeference data should be based on centroid zip code.

I got the April file from the SWRCB staff-- the April file is not yet available on the website, but the Feb file is posted

[2019-04-10 17:43] ruckeralex commented on #11
Per the SWRCB and CWC, at this level of analysis we can treat all enforcement actions identically, as long as they are not "RETURN TO COMPLIANCE."

[2019-04-10 19:25] ruckeralex opened #12 "Review options for source data files"
Our team -- you!-- have a choice about which data files to use to build the bi-monthly reporting tool.  It might boil down to a question of ease of access to the data we need.

I'm attaching all 5 files here.

The 3 spreadsheets that are posted every 2 months to the public HR2W website (https://www.waterboards.ca.gov/water_issues/programs/hr2w/#data) are:

(1) - 2019-04-03_hr2w_web_data_active.xls

[2019-04-10 19:35] ruckeralex opened #13 "Create method to automatically pull new bi-monthly data sets for reporting tool"
This dovetails with issue #12.

Every 2 months we need to automate the process to pull down the data sets and incorporate them into the online reporting tool.

Here are some things to figure out:
- which data sets will we use (see issue #12 )
- how to retrieve it from public website and/or FTP site (e.g., may need to tell script to grab file based on assumed new version, such as _4_2019, _6_2019,

[2019-04-10 19:39] ruckeralex opened #14 "Create demo of basic reporting tool interface"
Create demo of basic reporting tool interface using the "Desired Report Template" in this document:
https://docs.google.com/document/d/15gRM0AsVV7dSKgfN4blwbRMbf97jMjeWK67ZLIfaXCw/edit?usp=sharing

Note that you may also want to assess whether these interfaces could be useful inspiration:

https://www.waterboards.ca.gov/water_issues/programs/hr2w/#maps - we are collaborating with this agency alrea

[2019-04-10 19:49] skyballin commented on #7
If the point of this is to only show current, active violations, then would we only want to keep violations that currently do not have a 'VIOL_END_DATE'? If that is the case, then 2) below would be the valid approach. Or, can a water system be in current violation even if there is a VIOL_END_DATE?

If the point of this is to show the most recent violation, then my belief is that method 4) below sh

[2019-04-10 19:54] ruckeralex opened #15 "Specify requirements and design for data visualization of historic trends"
This is for down the road, but we will need to specify requirements, design, and any missing pieces for future more sophisticated data visualization of historic trends of the unsafe drinking water in water systems.  This should build off of the visualization work done by @r-b-g-b that contributed to winning the 2018 California Water Data Challenge!

We want to be able to provide an attractive, acc

[2019-04-10 20:13] ruckeralex commented on #7
Hi!  Ultimately the reporting tool should show both the active violations for this reporting period as well as previous (historic) violations.

This is the first time I'm seeing violation records in these data sets with empty VIOL_END_DATE dates.  The April set, which perhaps has not yet been fully vetted, has 143 empty records.  The Feb set has no empty VIOL_END_DATE records.  I've asked the SWRC

[2019-04-10 20:32] skyballin commented on #7
Yes! I think that makes sense. Let me reword and make sure that it is clear:

If a water system is out of compliance for a reporting period, all of the data for all history for that water system's violations is returned.

We want this view to only show the data with the water systems out-of-compliance record for the current period, whether it is a closed violation or not.

If the system was found

[2019-04-10 22:25] r-b-g-b commented on #11
Perfect, thanks! Closing.

[2019-04-10 22:25] #11 closed, assigned to ruckeralex

[2019-04-10 22:26] r-b-g-b commented on #3
Great, yeah I wasn't thinking we'd update this each month. I just meant reproducibility in the sense that a future data scientist could clone this repo, do `make data` and have everything downloaded to a standard place and be ready to analyze.

[2019-04-11 23:11] ruckeralex commented on #7
Hi Ajay, that is correct for the report on current reporting period only.  Keep in mind that a water system is out of compliance for at least 1 analyte (such as arsenic or nitrate).  We need to be able to report which specific analyte(s) is out of compliance for each water system for the current reporting period.  Then, we ALSO want to be able to show the history of violations.  See "Desired Repor

[2019-04-11 23:14] ruckeralex commented on #7
Also, I received reply to your question about the empty VIOL_END_DATE fields from the SWRCB agency.

In essence, I think we should interpret this to mean that if a system has an empty VIOL_END_DATE field we should treat it as the most recent date record for the purpose of evaluating whether a system is currently in compliance.

SWRCB RESPONSE:  "the violation end date for Surface Water Treatment R

[2019-04-13 01:00] r-b-g-b commented on #7
@ruckeralex @skyballin Thanks! I think the interpretation of the the missing `VIOL_END_DATE` was the last thing I needed to make this work. Pushed new changes to #9 that correctly identify 330 water systems in violation. Are there any other checks I can perform? Otherwise, I think we can start generating the report described in the "Desired Report Template."

[2019-04-13 01:51] r-b-g-b commented on #3
@ruckeralex Do you happen to know of a shapefile for the Tulare Lake Basin?

[2019-04-15 06:04] ruckeralex commented on #7
Wow, excellent!  Yes, you can check for the February 2019 data set that for the Triple R Mutual agency, the analyte Nitrate is out of compliance (active violation), but the analyte Arsenic is in compliance (no active violation).  Thanks!

[2019-04-15 06:10] ruckeralex commented on #3
Yes, see attached for a zip file with about 6 different files for Tulare Lake Basin.
[TLB_HUC06_TulareLakeBasin (1).zip](https://github.com/r-b-g-b/clean-water-tool/files/3078630/TLB_HUC06_TulareLakeBasin.1.zip)

[2019-04-15 16:25] r-b-g-b commented on #3
Thank you @ruckeralex ! Do you have a URL for that as well?

[2019-04-15 17:02] ruckeralex commented on #3
No. This was provided through the non-profit.

Cheers,
Rucker

On Apr 15, 2019, at 9:25 AM, Robert Gibboni <notifications@github.com> wrote:

Thank you @ruckeralex ! Do you have a URL for that as well?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-15 17:17] r-b-g-b commented on #3
Cool, is there any problem making this file publicly available? Then I can just add it directly to the repository. Thanks!

[2019-04-15 17:35] ruckeralex commented on #3
That should be fine. It’s not proprietary or confidential information (the “Basin” isn’t political boundary either; just a geographic designation to encompass many of the disadvantaged communities that the CWC targets for support.)

Cheers,
Rucker

On Apr 15, 2019, at 10:17 AM, Robert Gibboni <notifications@github.com> wrote:

Cool, is there any problem making this file publicly available? Then I

[2019-04-17 02:23] #7 closed, assigned to r-b-g-b

[2019-04-17 02:40] skyballin opened #17 "Refactor dedupe code to src for master code flow"
I wanted to keep all of the 'finished' code pieces in the src folder so we can have a 'master routine' going.

ie. the dedupe logic to create the active violations table is now in 'active_violations.py' and outputs a csv file to 'data/output/'

[2019-04-17 02:44] skyballin commented on #17
PR # 18

[2019-04-17 20:15] skyballin opened #19 "Create database schema for incoming data pull"
Leaning towards creating a Postgres database, populated by the python FTP data pull that is already created.

[2019-04-19 06:21] r-b-g-b commented on #17
Closed by #18

[2019-04-19 06:21] #17 closed, assigned to nobody

[2019-04-24 03:33] seeohareeye opened #21 "sanity checks on active violation data / deduplicated data"
One sanity check from Rucker: for the Feb 2019 data set, the system Triple R Mutual and analyte Arsenic should be IN compliance, because the most recent VIOL_END_DATE of 3/31/2017 has the ENF_ACTON_TYPE_ISSUED = RETURN TO COMPLIANCE. However, the Triple R Mutual system for Nitrate is OUT of compliance since the most recent VIOL_END_DATE of 12/31/2018 has only one record, and the ENF_ACTION_TYPE_IS

[2019-04-24 03:36] seeohareeye commented on #21
Here's one check-- for the Feb 2019 data set, the system Triple R Mutual and analyte Arsenic should be IN compliance, because the most recent VIOL_END_DATE of 3/31/2017 has the ENF_ACTON_TYPE_ISSUED = RETURN TO COMPLIANCE. However, the Triple R Mutual system for Nitrate is OUT of compliance since the most recent VIOL_END_DATE of 12/31/2018 has only one record, and the ENF_ACTION_TYPE_ISSUED with i

[2019-04-26 03:47] ruckeralex opened #22 "Apply GIS boundaries to water system data to classify systems by types"
The Community Water Center (the non-profit we are working with) has requested that the search tool be able to classify water systems by the following types:

1) Legislative districts - associate each water system with its legislative district (https://services.gis.ca.gov/arcgis/rest/services/Boundaries/CA_Legislative_Districts/MapServer)

2) Regional water board - associate each water system with

[2019-04-26 04:31] ruckeralex opened #23 "Create downloadable .csv file of query results from online reporting tool"
Create function to download an .xls file of the query results from #24 .  In addition to the fields in the HR2W raw data set, the downloadable .xls file will also provide the following calculated fields:  whether system is in Tulare Lake Basin, the absolute # of exceedance of analyte [ = "RESULT" - "MCL"], and the % exceedance of the analyte [("RESULT" - "MCL") / "MCL"].

Aaron and/or Robert, is t

[2019-04-26 04:35] ruckeralex opened #24 "Create query fields for 5+ characteristics"
Create query fields in the online reporting tool interface for 5 searchable characteristics: water system name, county, city, zip code, and analyte.

Once the water systems are tagged with legislative districts and regional boards (see #22 ), add these fields too.

Users can select one or more characteristics and the tool will show a list of all water system names that have violations (within that

[2019-05-06 00:04] r-b-g-b commented on #24
A simple version of this could just refer to files stored at different locations, like:

thing.github.io/WATERSYSTEMNAME/ANALYTE serves up info for the given water system and analyte.

but I think to be fully queryable along all of those dimensions we will actually need to put it all in a database, which will I think mean we can no longer serve the whole thing through github pages. Curious to hear

[2019-05-06 00:07] r-b-g-b commented on #3
Closing since I think we have this covered!

[2019-05-06 00:07] #3 closed, assigned to ruckeralex

[2019-05-06 00:07] r-b-g-b commented on #2
I think we're well on our way for this one, closing!

[2019-05-06 00:07] #2 closed, assigned to nobody

[2019-05-06 16:43] aaronhans commented on #24
I am able to make the current json queryable by those 5 keys parsing the json with javascript setting the unique names in those fields as map keys, demo: https://aaronhans.github.io/community-water-center/

[2019-05-06 18:17] r-b-g-b commented on #24
Ohhhh dang, that's awesome!

[2019-05-07 00:14] ruckeralex commented on #24
Yay!  That sounds very promising!  Thank you Aaron!

On Mon, May 6, 2019 at 11:17 AM Robert Gibboni <notifications@github.com>
wrote:

[2019-05-16 16:35] ruckeralex opened #25 "Create ability to search for multiple criteria"
Can we create ability to search for multiple criteria at once, such as the analyte type + county name?

[2019-05-16 16:46] ruckeralex commented on #21
Hi!  looks like the current beta tool reporting format might be generating confusion:
https://aaronhans.github.io/community-water-center/system.html?id=CA5400670

For Triple R Mutual water system, since Arsenic and Nitrate are both shown on reporting page, it implies that both are out of compliance.  However, the reality is that as of February, Arsenic is IN compliance and Nitrate is OUT of compli

[2019-05-16 16:55] ruckeralex opened #26 "Reporting tool webpage / identifying source data"
Hello!  I love the clean look of the reporting tool webpage.  However, can we include a note, perhaps at the top of the table, indicating the source and reporting period for the data?  E.g.:

**Compliance as of:**  February 2019

**Data Source:**  Community, Schools, Daycares, Public Water Systems Who Have Current Exceedance/Compliance Issues (1/1/2012-2/2/2019), Human Right to Water Portal, State

[2019-05-29 16:12] aaronhans commented on #22
Don had a good suggestion last night, use the already associated zip code to lookup the associated legislative info, there are some available ways to do this without doing the GIS point in shape boundary calculation

[2019-05-29 16:56] ruckeralex commented on #22
Dear lord - Brilliant!  I'll verify with CWC which of these are the
legislative classifications they want; then I can use Excel to create the
association of water system : district.
https://sdmg.senate.ca.gov/zipcodedirectory

On Wed, May 29, 2019 at 9:12 AM Aaron Hans <notifications@github.com> wrote:

[2019-05-31 08:18] ruckeralex commented on #22
Just heard back from CWC.  Apparently many legislative districts are split
across the same zip codes, which is why they want to use GIS.

I've reached out to a former classmate within the UC Berkeley student
community to see if they might have a GIS expert who can help.

On Wed, May 29, 2019 at 9:56 AM Rucker Alex <ruckeralex@gmail.com> wrote:

[2019-06-05 02:35] ruckeralex commented on #26
Feedback/request from SWRCB:

[HR2W_Tool_CWC (from Wendy Killou).pdf](https://github.com/r-b-g-b/clean-water-tool/files/3255286/HR2W_Tool_CWC.from.Wendy.Killou.pdf)

[2019-06-05 02:57] ruckeralex commented on #22
Sounds like Diana Y is able to perform this GIS task!

The goal is to produce an Excel spreadsheet that provides 1 row per existing water system and 3 related associated columns: for water system, legislative district, and regional water board.  NOTE: There should be around 3,297 systems, so there will be approx 3,300 rows on the final Excel sheet.

1) Access a summary of the system name / zip cod

[2019-06-09 00:43] dilufapi commented on #22
Here is the link to the map: https://arcg.is/SKLzy (one thing that bothers me is how the assembly name displays. I tried to modify the size of those brown labels, but they seem to be locked by the layer). Please let me know if you have any comments or questions. Have a great weekend.

[2019-06-09 01:11] aaronhans commented on #22
This is fabulous! Thank you @dilufapi!

I see everything we need on the interactive map. Could you help me extract the associations between water systems and legislative and water districts? We will use the association between water system and district to list the systems in tabular views by district the CWC has requested and create sums for stats like District X has Y systems out of compliance af

[2019-06-09 17:42] ruckeralex commented on #22
Amazing!  Thank you Diana!!

Would you be able to take the final step and extract the data to an Excel or .csv file? ( I don’t have GIS software anymore.) Once it’s in Excel Aaron and team can then affiliate that information with the bi-monthly data set the tool uses for reports.

So, final step:   Extract data from map to produce an Excel/csv spreadsheet that provides 1 row per existing water sys

[2019-06-11 05:06] ruckeralex commented on #26
Attached is updated document with adjustments from Water Board staff + mock-up of Water System page.  Thank you @aaronhans !!

[clean water tool - overview mock up v4 2019.06.10.pptx](https://github.com/r-b-g-b/clean-water-tool/files/3274834/clean.water.tool.-.overview.mock.up.v4.2019.06.10.pptx)

[2019-06-30 07:37] dilufapi commented on #22
I opened the map in ArcGIS Desktop, and it looks like the CA_Legislative_District and CA Regional Water Board Offices layers are locked. It does not allow me to edit, extract, or merge the data. Maybe there is a way to get around it, but I do not know it yet. I will keep researching about how to troubleshoot this. I sent some screenshots to Rucker to explain.

[2019-06-30 23:08] ruckeralex commented on #22
Hi Diana,

Sorry, I was offline during my vacation.  Thank you for putting together
the troubleshooting memo!

This snafu is way above my GIS pay grade but I just emailed a former
colleague to see if he can help.  I assume you're using the same layers
provided by Ariel at SWRCB (just re-forwarded)?   We can try asking Ariel
and Wendy in case it's a problem with the files themselves.

Cheers
Rucker

[2019-07-03 01:55] ruckeralex opened #27 "Load June water data to tool"
Load June water data to the tool - this is the first version where the Water Board experimented with a different way of de-duping data.  Also, the file (attached) doesn't contain the date.

Source for data:
https://www.waterboards.ca.gov/water_issues/programs/hr2w/docs/data/hr2w_web_data_active.xlsx

@aaronhans @r-b-g-b

[2019-07-03 03:15] aaronhans commented on #22
I found a way to retrieve the CA state Senate and Assembly District from the lat,lon: https://openstates.org/find_your_legislator/?lat=37.8056148&lon=-122.2725945

[2019-07-03 03:21] #24 closed, assigned to aaronhans

[2019-07-10 00:23] dilufapi commented on #22
Hi Aaron - That sounds great! Does that mean you have all the data you need? ...If not, I participated in the Water Data Science Symposium and Datathon last week and brought up the GIS data layer question to a couple of people. They recommended reaching out directly to the data manager to request the raw data or the unlocked layers. Therefore I just sent an email to the GIS contact (Franklin.Stier

[2019-07-10 01:44] ruckeralex commented on #22
Ooh!  That’s a great update.  I believe we don’t yet have what we need via Aaron’s method either and my other reach outs were unable to help.

Cheers,
Rucker

On Jul 9, 2019, at 5:23 PM, Diana Yitbarek <notifications@github.com> wrote:

Hi Aaron - That sounds great! Does that mean you have all the data you need? ...If not, I participated in the Water Data Science Symposium and Datathon last week a

[2019-07-10 02:43] ruckeralex commented on #15
@nayanab565 - feel free to jump into this task!  You can identify data visualizations that you like and apply them to the data!

[2019-07-10 03:21] aaronhans commented on #22
I have been able to map all the systems to the CA legislators.

I haven't associated them all with their Water District

[2019-07-11 18:02] sharkberto commented on #23
@ruckeralex @aaronhans in branch export-button i've still got a little more logic to implement to create a csv from data in #24 (system, city, county, zip, analyte)

To be able to grab the information at the system level, there should be some additional processing to query into it. Does the user click into the system level info and grab the csv, or do they click at the level they see the five fiel

[2019-07-11 18:05] sharkberto commented on #23
What I mean is, do they grab a csv at system level page: https://aaronhans.github.io/community-water-center/system.html?id=CA0900102 (example) ?

[2019-07-14 18:34] ruckeralex commented on #23
Hi Alex!  Is it possible for the users to have the option to download CSV file on both pages-- the main page (https://aaronhans.github.io/community-water-center/) and on the Water System-level page (https://aaronhans.github.io/community-water-center/system.html?id=CA3710009)?  In both cases, perhaps you can offer a link to "Download .csv file of displayed data" above the first data table.

[2019-07-15 16:24] #27 closed, assigned to nobody

[2019-07-15 16:24] #26 closed, assigned to nobody

[2019-07-16 00:15] ruckeralex commented on #22
Nayana - can you please take a stab at outlining the steps needed to associate a legislative district to each of the 3000+ water systems using this file that Aaron sent:
Link shapefiles with each latitude-longitude to each water system ID:  https://raw.githubusercontent.com/aaronhans/community-water-center/master/data/locations.json

@aaronhans

[2019-07-16 05:13] ruckeralex commented on #22
This problem is driving me nuts.  Just tested to see if we can associate most of the water systems to their legislative assembly district using zip code only... and the answer is:  we can only do this for a third of the systems (1,010 out of 3,297 systems; of those, just over 10% are actually out-of-compliance).  Of the rest, 947 are not associated with legislative district and the remaining have

[2019-07-16 16:43] aaronhans commented on #22
I pushed an update last week which includes a new file for each water district with the associated CA House and Assembly District and current legislators: https://github.com/aaronhans/community-water-center/commit/1c279eb9a7eacaa0b98b9b9c7422d83ba77300c7

We'll need to rerun that script after each election when those members change.

I plan to start some analysis this evening to compare districts

[2019-07-16 22:14] ruckeralex commented on #22
Hi Aaron-- thanks!  Looking forward to seeing you / talking tonight about this... want to make sure I understand what you mean by "CA Water District."  (Is that the Regulating Agency?)

[2019-07-17 01:04] nayanab565 commented on #22
Hi! Here are a couple of plots that I made using the data! Thanks!
https://github.com/nayanab565/CA-Water-Project/blob/master/CAWaterProjectGraphs.ipynb

[2019-07-17 03:05] ruckeralex commented on #22
@mnorelli - thank you so much for your help!  Could you associate for each of the ~3,300 water systems the Regional Water Board (#s 1 through 9) that is is associated with?

Some resources:

Map with (locked?) layers:
https://arcg.is/SKLzy

Fact sheet of regional boards: https://www.waterboards.ca.gov/publications_forms/publications/factsheets/docs/region_brds.pdf

Data source:
https://www.waterbo

[2019-07-17 03:21] seeohareeye commented on #10
first draft of reporting template we can automate with the violations data
![mock up of assemby district report V1](https://user-images.githubusercontent.com/49221968/61344740-3c373800-a807-11e9-982d-38333b191221.PNG)

[2019-07-17 03:34] ruckeralex commented on #22
Hi @nayanab565 and @dilufapi -- it turns out that @aaronhans HAS used code to successfully associate legislative districts with each of the 3,300 water systems in California!  So, that problem is now solved.  Thank you so much, Aaron.

[2019-07-17 03:34] ruckeralex commented on #22
@mnorelli -
Here is a link to the layer for the regional water boards-

https://waterboards.maps.arcgis.com/home/item.html?id=ad93520333dc46239ac22a40fe6299dc

[2019-07-18 06:19] mnorelli commented on #22
Complete.
![WaterSystemsByRegionalBoard](https://user-images.githubusercontent.com/4873069/61433744-f9e62780-a8e8-11e9-9859-a6a32443d56f.jpg)

This Excel table:
[WaterSystemsByRegionalBoard.xlsx](https://github.com/r-b-g-b/clean-water-tool/files/3405013/WaterSystemsByRegionalBoard.xlsx)
shows, for each water system point derived from zip code centroids, the regional water board name it falls in, i

[2019-07-18 07:03] mnorelli commented on #22
More!  Here are the all the water system points in Excel, with regional water board designations as above, plus CA Assembly and CA Senate district numbers in the rightmost columns:
[WaterSystemsByRegionalBoardAndLegDistricts2.xlsx](https://github.com/r-b-g-b/clean-water-tool/files/3405247/WaterSystemsByRegionalBoardAndLegDistricts2.xlsx)

[2019-07-18 22:30] ruckeralex commented on #22
Amazing!!!!!!!

The Community Water Center and State Board will be thrilled to receive
this, and I'll mention your name as the volunteer who pulled it together.

I've cleaned up the formatting a bit and would like to add the regional
board and leg district sources... can you provide links or name of the
source data used?

On Thu, Jul 18, 2019 at 12:03 AM Michael Norelli <notifications@github.com>

[2019-07-18 22:46] mnorelli commented on #22
**Regional Water Quality Control Board jurisdictional boundaries**
(I used your link sent 7/16/19, above)
Site:
https://waterboards.maps.arcgis.com/home/item.html?id=ad93520333dc46239ac22a40fe6299dc
KML geodata files:
https://gispublic.waterboards.ca.gov/arcgis/rest/services/Administrative/RB_OfficeAreas/MapServer/generateKml

**Legislative Districts**
Sites:
https://wedrawthelines.ca.gov/maps-fin

[2019-07-18 23:29] ruckeralex commented on #22
Excellent!  Attaching updated file with sources, and sent copy (with credit to you and Aaron) to CWC and Water Board.  Thank [you!!!![](url)](url
[CAWaterSystems_ByRegionalBoardandLegDistricts.xlsx](https://github.com/r-b-g-b/clean-water-tool/files/3408749/CAWaterSystems_ByRegionalBoardandLegDistricts.xlsx)
)

[2019-07-18 23:29] #22 closed, assigned to aaronhans

[2019-07-18 23:33] mnorelli commented on #22
Should we open a new Issue to remind us to get actual water system
boundaries, instead of the zip code analogs?

On Thu, Jul 18, 2019, 4:29 PM ruckeralex <notifications@github.com> wrote:

[2019-07-19 05:13] ruckeralex commented on #22
I looked into that last year and apparently it is confidential information (don’t want terrorists targeting the systems?).  The water board themselves use zip code centroids to create maps.   But if you can find precise boundaries with your awesome sleuthing skills, great!!

Cheers,
Rucker

On Jul 18, 2019, at 4:33 PM, Michael Norelli <notifications@github.com> wrote:

Should we open a new Issue t

[2019-07-21 02:12] ruckeralex commented on #21
I think the tool's interpretation of the data set is currently correct.  We can reopen this thread if needed.

[2019-07-21 02:12] #21 closed, assigned to r-b-g-b, ruckeralex, seeohareeye

[2019-07-21 02:13] ruckeralex commented on #14
This has been up for a couple of months!  Awesome job, team + @aaronhans !

https://aaronhans.github.io/community-water-center/

[2019-07-21 02:13] #14 closed, assigned to nobody

[2019-07-21 02:21] ruckeralex opened #28 "Integrate dataset with maps to show locations + analytes of water system violations"
@mnorelli

Use the current dataset to project a spatial view of the water system violations.  Show the locations of water system violations and analytes in violation.  Perhaps can use dot to represent the individual water system, or use a dot of different size to represent the relative size of the population affected.  The color of the dot can represent which of the analytes is in exceedance.  For

[2019-07-21 02:44] ruckeralex opened #29 "Create data visualization - exceedance of safe levels for analyte data (model shown)"
Here are 2 cool examples showing ways of visualizing the exceedance of levels for a given analyte for a public water system-- anyone up for using this as inspiration to create something like it using our current dataset?:

1) along a spectrum, showing the water system's measured level (the "RESULT" field in our dataset), the state threshold (the "MCL" field in our dataset), and-- if possible-- the

[2019-07-21 02:55] ruckeralex opened #30 "Create data visualization - show trends over time of violations (model offered)"
Would be very helpful to use current dataset to create data visualization showing trends over time of violations by water system, and perhaps by analyte too!

The charts below are created by Our World In Data and are under creative common license so they might be jumping off places.  Note that you can slide bar to see the changes over time by year.... very cool.

https://ourworldindata.org/water-u

[2019-08-06 17:46] sharkberto commented on #23
Hi @ruckeralex ! we have a basic button implemented which I'll work to merge into `master`. Last thing is working on calculated results to close this out.

[2019-08-07 16:22] sharkberto commented on #23
This issue can be closed once https://github.com/openoakland/clean-water/pull/1/commits is merged (new repo). There may be some error handling still to do to, e.g. to account for calculations where there is any missing data, but the functionality and additional fields are in place

[2019-08-12 05:56] ruckeralex commented on #23
Wow! Amazing!!  Thank you so much!

How can we merge/create new repo so we can see this change?

Cheers,
Rucker

On Aug 7, 2019, at 9:22 AM, Alex <notifications@github.com> wrote:

This issue can be closed once https://github.com/openoakland/clean-water/pull/1/commits is merged (new repo). There may be some error handling still to do to, e.g. to account for calculations where there is any missing

[2019-08-28 02:20] #23 closed, assigned to nobody

[2019-08-28 02:23] ruckeralex opened #31 "Develop data visualizations to address these key questions"
Develop data visualizations to address these key questions:

- Out of Compliance Systems - Which Community Water Systems in California have unsafe drinking water?
2. - Population Affected - Which unsafe water systems affect the most people?
3. - Chronic Issues - Which water systems are chronically out of compliance (e.g., have been out of compliance for 80% of the past 5 years)?
4. - Exceedance Le

[2019-08-28 02:24] ruckeralex opened #32 "Optimize tool to work on phones or older browsers like IE11"
Optimize tool (http://water.openoakland.org/) to work on phones or older browsers like IE11

[2019-08-28 02:25] ruckeralex opened #33 "Show the % over MCL exceedance level and the absolute value over exceedance level in table results"

[2019-08-28 02:25] ruckeralex commented on #33
Done - Alex A completed

[2019-08-28 02:25] #33 closed, assigned to nobody

[2019-08-28 02:34] ruckeralex opened #34 "Include ALL known fields in .xls file exports"
Include all known fields in .xls file export, from both the main tool page (http://water.openoakland.org/) and the Water System detail page (e.g., http://water.openoakland.org/system.html?id=CA3303100).

All fields should include:

* Everything that is on the raw HR2W source data sheet (https://www.waterboards.ca.gov/water_issues/programs/hr2w/docs/data/hr2w_web_data_active.xlsx) -- such as Regula

[2019-08-28 02:35] ruckeralex commented on #12
Will use the Web Data Summary and Details sheets

[2019-08-28 02:35] #12 closed, assigned to nobody

[2019-09-03 23:32] aaronhans commented on #32
Some things that need to be done:
- transpile js so functionality works everywhere
- add media queries/redesign so display works on small screens
- might want to exclude some of the heavy dataviz (the CA chloropleth on homepage is currently pulling in a 9MB dataset, wonder if we can slim that file down by making the geojson less exact

[2019-09-03 23:34] aaronhans commented on #30
That interactive world map is really nice.

We've started to build something based on the same technology (D3 chloropleths) which powers the CA cutout on out homepage now. We can add legends, clickable areas and history slider to make it work like the above UI.

That is just one way to approach this, feel free to suggest other ways to accomplish this goal

[2019-09-03 23:38] aaronhans commented on #29
![Screen Shot 2019-09-03 at 4 34 58 PM](https://user-images.githubusercontent.com/353360/64215295-dcedbf80-ce68-11e9-888a-3509854a89c8.png)

We are doing this now: clicking on an assembly member's name brings up an overlay containing a map of their location with al the analytes present. Clicking on an analyte button adds it to the set of 3D bars on the map representing the % exceedance over MCL

I

[2019-09-03 23:41] aaronhans commented on #29
The above example doesn't address the history at all.

There are some interesting blips in the data for example there was one test in LA which came up as a violation which affected 4 million people. It was quickly corrected but it would be cool to create something that shows the magnitude of something like this even though it was short and is now corrected.

Here is one idea: A fullscreen map show

[2019-09-04 02:50] damoonvisuals commented on #31
These are great questions to answer, Rucker. I have been doing a lot of reading on watersheds and definitely want to work on a map visualization which involves them!

More specifically, I wanted to combine the water quality data provided in this repository with the National Hydrography Dataset (http://www.horizon-systems.com/nhdplus/NHDPlusV2_18.php) which provides drainage areas of California. Th

[2019-10-16 00:29] sharkberto commented on #34
Added fields to export via https://github.com/openoakland/clean-water/pull/8/ -
Still needed to allow export:

Classification
Service Connections
Legislative Districts - CA Assembly
Legislative Districts - State Senate
Regional Water Board

[2019-11-20 01:09] ruckeralex commented on #31
@damoonvisuals - I overlooked your response-- but your proposal sounds AMAZING!  There is so much need to experiment with addressing these questions.  Please let me know if you need guidance.

[2019-11-27 03:56] sharkberto commented on #34
@ruckeralex @aaronhans where is the field for "Regional Water Board"? I'm trying to meld all the data in python so we don't have missing fields

[2020-01-15 03:15] jm-contreras commented on #31
@ruckeralex Can you give more context on who is going to use these visualizations and what are they going to be used for? Are there any specs to keep in mind in thinking about how these visualizations should be designed, drawn, and shared?

[2020-02-12 04:24] kwonangela7 commented on #29
Yes, I'd love to work on this issue!
1. I'll start by calculate the average result that you've suggested @ruckeralex I'm still getting familiar with the data (I joined two weeks ago!) so I think computing a statistic like this would also help me understand the data better!
2. @aaronhans The map idea is awesome! I don't have much map visualization experience, so I think I'll start by creating somet

[2020-02-25 07:43] kwonangela7 commented on #29
just noticed that the UOMs are not consistent across all the measurements (this is the set of values in both the RESULT_UOM and MCL_UOM columns: {'MFL', 'MG/L', 'PCI/L', 'UG/L', nan}. I talked about it with Michael and he said it would be best to calculate the percentages, so I think I'll proceed with that for now.

Edit: Er, don't think it would make sense to use percentages in graph #1 above. I

[2020-04-01 04:00] kwonangela7 commented on #29
Hi! @ruckeralex I wanted to request your feedback on this... (and whoever else!! :))

I created an "along the spectrum" exceedance level graph like the one you screenshotted, and here's what it looks like (this is for one specific analyte, for one specific water system). As you can see, I just put a simple widget above the graph so that someone would be able to select the result that they'd want t

[2020-04-01 16:48] aaronhans commented on #29
Nice work @kwonangela7!

[2020-04-01 17:31] sharkberto commented on #29
Very neat @Angela ! i think i get it, i want to connect on the zoom call
soon with y'all

On Wed, 1 Apr 2020 at 09:49, Aaron Hans <notifications@github.com> wrote:

--
*Alex Aruj, PMP*
m:(310) 779-2550
<http://www.linkedin.com/in/alexaruj/>

[2020-04-01 22:21] mnorelli commented on #29
I agree that percentages of exceedance above and below the threshold is useful for comparing results from different analytes.  That would allow characterizing which analyte among several is most a problem.

@kwonangela7's bar chart is a good way to communicate more results in less space and less user interaction needed.  And one step further, the average could be added as a line over the bars:
![i

[2020-04-10 18:17] kwonangela7 commented on #29
Hi y'all - so sorry, I didn't get an email notification about this feedback and wasn't feeling well earlier this week so am getting back to everyone late! Thank you for the feedback!!

[2020-04-10 18:18] kwonangela7 commented on #29
@mnorelli  Thank you for the suggestions and examples :) I didn't think to visualize the running average... that's interesting! I'll give that a try.